
body {
    font-family: sans-serif;
    background-color: white
}

nav {
   background-color: antiquewhite;
   background: linear-gradient(to right, #0000, #808080,#ffff);
   padding: 20px;
   background: linear-gradient(to right, #832593, #E05F91, #B8E585, #DDED65);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 20px auto;
}
header {
   background-color: antiquewhite;
   background: linear-gradient(to right, #0000, #808080,#ffff);
   padding: 20px;
   background: linear-gradient(to right, #832593, #E05F91, #B8E585, #DDED65);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 20px auto;
}


.button {
    justify-content: space-between;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #7fffd4;
    color: #A64C02;
    font-family: Airport;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    justify-content: space-between;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    justify-content: space-between;
    text-align: center;

    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
    background-color: white(175, 175, 175);
  background: linear-gradient(to right, #832593, #83CB30, #E0CB34); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto; 
}

p {
    justify-content: space-between;
    font-size: 24px;
}

.info {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    justify-content: space-between;
    background-color: white;
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    justify-content: space-between;
    text-decoration: none;
    background-color: lightskyblue;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    border-radius: 10px;
}
footer {
    justify-content: space-between;
    background-color: white;
    padding: ;
}

footer a {
    justify-content: space-between;
    margin-right: ;
}

footer p {
    justify-content: space-between;
    font-size: 24px;
}
